/* .content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0;
    grid-template-columns: 1fr;
    max-width: 100vw;
  }
} */
