.content {
  display: grid;
  grid-template-columns: 1fr 154px;
  width: 100%;
  max-width: 984px;
}

.content__intro {
  grid-column: 1;
  width: 100%;
  max-width: 830px;
}

.content__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.1em;
  padding-bottom: 2.5rem;
}

.content__quote {
  max-width: 740px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25em;
  padding-bottom: 2rem;
}
.content__quote-author {
  margin-top: 10px;
  text-align: right;
}
.content__description {
  max-width: 740px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63em;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0;
    grid-template-columns: 1fr;
    max-width: 100vw;
  }
  .content__intro {
    max-width: 100vw;
    padding: 0 4%;
  }
  .content__title {
    font-size: 2.813rem;
  }
}
@media screen and (max-width: 544px) {
  .content__intro {
    min-width: 288px;
  }
  .content__title {
    font-size: 2rem;
  }
}
