.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  margin: 0 11.562%;
}

.content__intro {
  width: 100%;
  max-width: 830px;
  margin-right: 154px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-rendering: optimizeLegibility;
}

.content__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.1;
}

.content__quote {
  max-width: 740px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}
.content__quote-author {
  margin-top: 10px;
  text-align: right;
}
.content__description {
  max-width: 740px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63;
}

@media screen and (max-width: 1075px) {
  .content {
    margin: 0 auto;
  }
  .content__intro {
    margin: 0 auto;
  }
  /* .content__title {
    font-size: 2.8rem;
    line-height: 1.15;
  }

  .content__quote,
  .content__description {
    max-width: 100%;
  } */
}

/* @media screen and (max-width: 1024px) {
  .content {
    margin: 0 auto;
    max-width: 100vw;
    padding: 0 24px;
  }

  .content__intro {
    margin: 0;
    max-width: 100vw;
    font-size: 1.5rem;
    line-height: 1.5;
    gap: 24px;
  }

} */

@media screen and (max-width: 544px) {
}
