.footer {
  margin-top: auto;
  text-align: center;
}

.footer__copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 24px;
  text-rendering: optimizeLegibility;
}
