.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header__logo {
  min-width: 188px;
  max-width: 254px;
  margin: 1.88% 0 0;
}

.header__content {
  padding: 5.625rem 1rem 0;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.header__title {
  max-width: 720px;
  min-width: 283px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 6em;
  line-height: 1.05em;
  padding: 0 1rem 1.1rem;
}
.header__subtitle {
  width: 100%;
  max-width: 720px;
  font-family: "Inter";
  font-size: 1.875rem;
  line-height: 1.3em;
  font-weight: 400;
  padding-bottom: 3rem;
  padding: 0 1rem 3rem;
}

.header__cover {
  max-width: 984px;
  min-width: 320px;
  max-height: 615px;
  overflow: hidden;
  margin: 0 auto;
}

.header__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: grayscale(100%);
}

@media screen and (max-width: 1024px) {
  .header__title {
    width: 100%;
    font-size: 4.688rem;
    padding: 0 2rem 3rem;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    height: 52px;
    width: 188px;
  }
  .header__content {
    padding: 50px 1rem 0;
  }
  .header__title {
    width: 100%;
    font-size: 2.5rem;
    padding: 0 1.875rem 3rem;
  }
  .header__subtitle {
    font-size: 1rem;
  }
}
