.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 19.8vw;
  height: 3.8vh;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 76.87vw;
  min-height: 52.2vh;
  padding-top: 90px;
}

.header__title {
  max-width: 720px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  text-align: center;
}
.header__subtitle {
  max-width: 720px;
  padding-top: 32px;
  padding-bottom: 64px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.2;
  text-align: center;
}

.image__cover {
  width: 76.87vw;
  height: 32.66vh;
}

.header__image {
  width: 100%;
  height: 100%;
}
