.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 11.562%;
  gap: 4.8vh;
}

.header__title,
.header__subtitle {
  text-rendering: optimizeLegibility;
}

.header__logo {
  width: 19.8vw;
  height: 3.8vh;
  margin: 1.88% 0 0;
}

.header__content {
  text-align: center;
  max-width: 100%;
  max-width: 984px;
}

.header__title {
  width: 100%;
  max-width: 720px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.05;
  margin: 0 auto 3.252%;
}
.header__subtitle {
  width: 100%;
  max-width: 720px;
  font-family: "Inter";
  font-size: 1.875rem;
  line-height: 1.3;
  font-weight: 400;
  margin: 0 auto 6.504%;
}

.image__cover {
  max-width: 984px;
  max-height: 615px;
  overflow: hidden;
  margin: 0 auto;
}

.header__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: grayscale(100%);
}
/* @media screen and (max-width: 1024px) {
  .header {
    margin: 0;
  }
  .header__content {
    width: 100%;
  }
  .header__title {
    font-size: 4.687rem;
    line-height: 1;
  }
  .header__subtitle {
    font-size: 1.875rem;
    line-height: 1.2;
    margin: 0 auto 3.252%;
  }
  .image__cover {
    max-width: 780px;
    min-width: 350px;
    margin: 0;
  }

  .header__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
} */

@media screen and (max-width: 544px) {
}
