.intro {
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 154px;
  grid-template-rows: auto;
}

.intro__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.1em;
  padding-bottom: 2.5rem;
  grid-column: 1;
}

.intro__quote {
  font-family: "Inter";
  max-width: 740px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25em;
  padding-bottom: 2rem;
  grid-column: 1;
  grid-row: 2;
}
.intro__quote-author {
  margin-top: 10px;
  text-align: right;
}
.intro__description {
  max-width: 740px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63em;
  grid-column: 1;
  grid-row: 3;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0;
    grid-template-columns: 1fr;
    max-width: 100vw;
    padding: 0 4%;
  }
  .intro__title {
    font-size: 2.813rem;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    min-width: 288px;
  }
  .intro__title {
    font-size: 2rem;
  }
}
