/* FORMAT */
body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  color: #fff;
}
* {
  box-sizing: border-box;
}
/* Page Settings */
.page {
  width: 100%;
  min-width: 320px;
  min-height: 1100px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background: #2a2c2f;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 5.625rem;
}

@media screen and (max-width: 544px) {
  .page {
    min-width: 320px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
