/* FORMAT */
body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  color: #fff;
}
* {
  box-sizing: border-box;
}
/* Page Setings */
.page {
  font-family: "Inter", sans-serif;
  background: #2a2c2f;
  max-width: 1280px;
  padding: 34px 0 24px;
  margin: 0 auto;
}
