/* FORMAT */
body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  color: #fff;
}
* {
  box-sizing: border-box;
}
/* Page Settings */
.page {
  width: 100%;
  min-height: 100vh;
  min-height: 1100px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background: #2a2c2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

@media screen and (max-width: 1024px) {
  .page {
    min-width: 768px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 544px) {
}
