.photo-grid {
  max-width: 1184px;
  width: 100%;
  padding: 0px 16px 92px;
  margin: 0 auto;
}

.photo-grid__cover {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.photo-grid__item {
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding-bottom: calc(
      62px + (92px - 62px) * ((100vw - 544px) / (1280px - 544px))
    );
  }
  .photo-grid__cover {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 544px) {
  .photo-grid {
    padding-bottom: 62px;
  }
  .photo-grid__cover {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
