.places {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.places__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 48px 40px;
  align-items: flex-start;
  vertical-align: bottom;
}

.places__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  grid-column: 1;
  grid-row: 1;
}

.places__artists {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
}

.places__artist-title {
  font-size: 12px;
  font-weight: 400px;
  color: #aaa;
}
.places__artist-name {
  font-size: 18px;
}

.places__image {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  box-shadow: 10px 10px 25px 0px #00000080;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.places__image:hover {
  filter: brightness(50%);
}

.places__description {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 163%;
  gap: 25px;
  grid-column: 2;
  grid-row: 2 / 4;
}

.places__button {
  width: 356px;
  height: 48px;
  background-color: blue;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  grid-column: 1;
  grid-row: 3;
  box-shadow: 5px 5px 10px 0px #00000040;
}

.places__button:hover {
  background: linear-gradient(90deg, #003a7b 100%, #0278fe 0%);
}

@media screen and (max-width: 1024px) {
  .places {
    /* padding: 16px; */
  }
}

@media screen and (max-width: 544px) {
  .places {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    gap: 50px;
  }
  .places__item {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .places__title {
    font-size: 32px;
    line-height: 36px;
    grid-column: 1;
    grid-row: 1;
    padding: 0 16px;
  }

  .places__artists {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    padding: 0 16px;
  }

  .places__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    grid-column: 1;
    grid-row: 3;
    /* min-width: 200px; */
    padding: 0;
  }
  .places__description {
    font-size: 1rem;
    grid-column: 1;
    grid-row: 4;
    padding: 0 16px;
  }
  .places__button {
    font-size: 14px;
    width: 100%;
    grid-column: 1;
    grid-row: 5;
    padding: 0 16px;
  }
}
