.places {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.places__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  align-items: flex-start;
  vertical-align: bottom;
}

.places__title {
  font-size: 4.5rem;
  line-height: 4.75rem;
  grid-column: 1;
  grid-row: 1;
}

.places__artists {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
}

.places__artist-title {
  font-size: 0.75rem;
  color: #aaa;
}
.places__artist-name {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.places__image {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  min-width: 320px;
  box-shadow: 10px 10px 25px 0px #00000080;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.places__image:hover {
  filter: brightness(50%);
}

.places__description {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 163%;
  gap: 25px;
  grid-column: 2;
  grid-row: 2 / 4;
}

.places__button {
  max-width: 356px;
  min-width: 288px;
  height: 48px;
  background-color: blue;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
  font-size: 1.125rem;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  grid-column: 1;
  grid-row: 3;
  box-shadow: 5px 5px 10px 0px #00000040;
}

.places__button:hover {
  background: linear-gradient(90deg, #003a7b 100%, #0278fe 0%);
}

@media screen and (max-width: 1024px) {
  .places {
    gap: 72px;
  }
  .places__item {
    grid-template-columns: 1fr 1fr;
    gap: 40px 28px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .places__title {
    font-size: 2.625rem;
    line-height: 2.875rem;
  }
  .places__artist-name {
    font-size: 1.125rem;
  }
  .places__description {
    font-size: 1rem;
    line-height: 163%;
  }
  .places__button {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 544px) {
  .places {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    gap: 50px;
  }
  .places__item {
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 0;
  }

  .places__title {
    font-size: 2rem;
    line-height: 2.25rem;
    grid-column: 1;
    grid-row: 1;
    padding: 0 16px;
  }

  .places__artists {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    padding: 0 16px;
  }

  .places__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    grid-column: 1;
    grid-row: 3;
    padding: 0;
  }
  .places__description {
    grid-column: 1;
    grid-row: 4;
    padding: 0 16px;
  }
  .places__button {
    width: 288px;
    font-size: 0.875rem;
    grid-column: 1;
    grid-row: 5;
    padding: 0 16px;
    justify-self: center;
  }
}
